                         <!-- 1nd GAME -->
<div class ='row border border-primary' id = 'border' style='padding: 10px'>
        <div class = 'col-9'> 
          <h4 style='color:rgb(120,120,120)'>Lucky7</h4>
          <div><b>Automation</b> 
          </div>
        </div>
  <div class ='col-3' style='padding-top:10px'>
    <a href='https://gamepagereport.rahulrk1597.repl.co/static/report.html' type="button" class="btn btn-outline-primary mt-6">Report</a>
  </div> </div>

                         <!-- 2nd GAME -->

  <div class ='row border border-primary' id = 'border' style='padding: 10px'>
        <div class = 'col-9'> 
          <h4 style='color:rgb(120,120,120)'>AAA</h4>
          <div><b>Automation</b> 
          </div>
        </div>
  <div class ='col-3'style='padding-top:10px'>
    <a href='https://gamepagereport.rahulrk1597.repl.co/static/aareport.html' type="button" class="btn btn-outline-primary mt-6">Report</a>
  </div> </div>

                             <!-- 3rd GAME -->

  <div class ='row border border-primary' id = 'border' style='padding: 10px'>
        <div class = 'col-9'> 
          <h4 style='color:rgb(120,120,120)'>HigherLower</h4>
          <div><b>Automation</b> 
          </div>
        </div>
  <div class ='col-3'style='padding-top:10px'>
    <a href='https://gamepagereport.rahulrk1597.repl.co/static/report.html' type="button" class="btn btn-outline-primary mt-6">Report</a>
  </div> </div>
  