<!--  <nav class='fixed-top  navbar bg-dark" data-bs-theme="dark"' style='height:45px;'>
  <div class="container-fluid">
    <div>Python Automation </div>
  </div>
</nav>
-->
<nav class="navbar fixed-top navbar-dark bg-dark ">
  <div class=" container-fluid">
    <div> Python Automation </div>
   <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>Redim Info</div>
  </div>
</nav>